# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
**/.idea/
**/.venv/
**/__pycache__/
/db.sqlite3
/audit.log
/request_output/